body{
    font-family: "Jost", sans-serif;
}

.banner-bg{
    background-color: #e9ecf4;
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
}

.nav-item{
    margin-right: 40px;
}

.banner-subtitle{
    color: #7153d9;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 6px;
}
.banner-title{
    font-size: 72px;
    font-weight: 500;
}
.banner-text{
    font-size: 24px;
    font-weight: 400;
    color: #797980;
}
.banner-btn{
    text-decoration: none;
    display: inline-block;
    color: white;
    background: linear-gradient(135deg, #4526b1 0%, #5435be 45%, #7153d9 66%);
    padding: 17px 41px;
    border-radius: 50px;
}





#navbar {
    transition: background-color 0.4s ease;
    background-color: transparent;
}

    .navbar-scrolled {
    background-color: #ffffff !important;
    padding-top: 10px;
    padding-bottom: 10px;
}



.feature-icon{
    background-color: #dad4ea;
    padding: 23px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
}


.feature-title{
    font-size: 21px;
    font-weight: 500;
}
.feature-p{
    font-size: 20px;
    font-weight: 400;
    color: #797980;
}


.image-section{
    min-height: 451px;
}


.seperator{
    width: 2% !important;
}


.section-subtitle{
    color: #7153d9;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 6px;
}
.section-title{
    font-size: 60px;
    font-weight: 500;
}


.feature-title a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.card-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 450;
}

.service-card{
    padding: 60px 35px;
    border-radius: 20px;
    box-shadow: 0px 12px 42px rgba(69, 38, 177, 0.1), 11px 6px 25px rgba(69, 38, 177, 0.1);
}

.mycontainer{
    background-color: #4526b1;
    color: #ffffff !important;
}

.mycontainer h4{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 6px;
}

.mycontainer p{
    font-size: 18px;
    font-weight: 400;
}

.mybtn-white{
    background-color: #e2c4ff;
    color: black;
    padding: 17px 41px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
}

.boost2img{
    margin-top: -125px;
}

.boost-p{
    font-size: 20px;
    font-weight: 400;
    color: black;
}